body {
  overflow-x: hidden;
}

.navbar-brand img {
  height: 50px;
}

/* Optional: Dropdown on hover for desktop only */
@media (min-width: 992px) {
  .navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}